@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-light: var(--color-stone-50);
    --color-primary-dark: var(--color-slate-950);

    --color-surface-light: var(--color-stone-900);
    --color-surface-dark: var(--color-slate-300);

    --color-surface-half-light: var(--color-stone-600);
    --color-surface-half-dark: var(--color-slate-400);

    --color-accent-light: var(--color-orange-700);
    --color-accent-dark: var(--color-cyan-300);

    --color-sun-yellow: var(--color-amber-500);
    --color-moon-blue: var(--color-violet-400);

    --font-sans: 'Inter', 'Inter Fallback';
    --font-mono: 'JetBrains Mono', 'JetBrains Mono Fallback';
    --font-title: 'Montserrat', 'Montserrat Fallback';
}

:root {
    --navbar-height: 5rem;
}
